doctype html
html(lang="en")
    head
        title Food Blog
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        script(src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="/css/styles.css")
    body
        aside#leftside(style="float:left; width: 30%; min-height: 1450px; background-color:rgb(77, 192, 154);")
        aside#rightside(style="float:left; width: 70%; min-height: 1450px; background-color:rgb(238, 226, 192); position:relative;")
        #container(style="background-color:rgba(255, 255, 255, 0.85); position: absolute; top: 15%; left: 15%; min-width: 1100px; min-height: 1200px; border-radius: 0.7em;")
            block content
            script(src="/js/vue.js")